WCF/GloryTP/GloryTP/Web References/WebReference1/TPLCashierMediaWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:ns="http://cashiermedia.webapp.tplinux.wincor_nixdorf.com" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://cashiermedia.webapp.tplinux.wincor_nixdorf.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="Test" xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
    <sp:SupportingTokens>
      <wsp:Policy>
        <sp:UsernameToken sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
          <wsp:Policy>
            <sp:HashPassword />
          </wsp:Policy>
        </sp:UsernameToken>
      </wsp:Policy>
    </sp:SupportingTokens>
  </wsp:Policy>
  <wsdl:types>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://cashiermedia.webapp.tplinux.wincor_nixdorf.com">
      <xs:element name="tplCashierMediaXML">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" name="operation" type="xs:string" />
            <xs:element minOccurs="1" name="empNmbr" type="xs:string" />
            <xs:element minOccurs="0" name="businessDate" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="tplCashierMediaXMLResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" name="operation" type="xs:string" />
            <xs:element minOccurs="1" name="empNmbr" type="xs:string" />
            <xs:element minOccurs="0" name="businessDate" type="xs:string" />
            <xs:element minOccurs="1" name="rtnCode" nillable="true" type="xs:string" />
            <xs:element minOccurs="1" name="rtnMessage" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="cashID" type="xs:string" />
            <xs:element minOccurs="0" name="cashCount" type="xs:string" />
            <xs:element minOccurs="0" name="cashAmount" type="xs:string" />
            <xs:element minOccurs="0" name="chequeID" type="xs:string" />
            <xs:element minOccurs="0" name="chequeCount" type="xs:string" />
            <xs:element minOccurs="0" name="chequeAmount" type="xs:string" />
            <xs:element minOccurs="0" name="ACSID" type="xs:string" />
            <xs:element minOccurs="0" name="ACSCount" type="xs:string" />
            <xs:element minOccurs="0" name="ACSAmount" type="xs:string" />
            <xs:element minOccurs="0" name="onlinePaymentID" type="xs:string" />
            <xs:element minOccurs="0" name="onlinePaymentCount" type="xs:string" />
            <xs:element minOccurs="0" name="onlinePaymentAmount" type="xs:string" />
            <xs:element minOccurs="0" name="offlinePaymentID" type="xs:string" />
            <xs:element minOccurs="0" name="offlinePaymentCount" type="xs:string" />
            <xs:element minOccurs="0" name="offlinePaymentAmount" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="getCashierMediaXMLResponse">
    <wsdl:part name="parameters" element="ns:tplCashierMediaXMLResponse" />
  </wsdl:message>
  <wsdl:message name="getCashierMediaXMLRequest">
    <wsdl:part name="parameters" element="ns:tplCashierMediaXML" />
  </wsdl:message>
  <wsdl:portType name="TPLCashierMediaWebServicePortType">
    <wsdl:operation name="getCashierMediaXML">
      <wsdl:input wsaw:Action="urn:getCashierMediaXML" message="ns:getCashierMediaXMLRequest" />
      <wsdl:output wsaw:Action="urn:getCashierMediaXMLResponse" message="ns:getCashierMediaXMLResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TPLCashierMediaWebServiceSoap12Binding" type="ns:TPLCashierMediaWebServicePortType">
    <wsp:PolicyReference URI="#Test" xmlns:wsp="http://www.w3.org/ns/ws-policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getCashierMediaXML">
      <soap12:operation soapAction="urn:getCashierMediaXML" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TPLCashierMediaWebServiceSoap11Binding" type="ns:TPLCashierMediaWebServicePortType">
    <wsp:PolicyReference URI="#Test" xmlns:wsp="http://www.w3.org/ns/ws-policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getCashierMediaXML">
      <soap:operation soapAction="urn:getCashierMediaXML" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TPLCashierMediaWebServiceHttpBinding" type="ns:TPLCashierMediaWebServicePortType">
    <wsp:PolicyReference URI="#Test" xmlns:wsp="http://www.w3.org/ns/ws-policy" />
    <http:binding verb="POST" />
    <wsdl:operation name="getCashierMediaXML">
      <http:operation location="TPLCashierMediaWebService/getCashierMediaXML" />
      <wsdl:input>
        <mime:content part="getCashierMediaXML" type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="getCashierMediaXML" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TPLCashierMediaWebService">
    <wsdl:port name="TPLCashierMediaWebServiceHttpSoap11Endpoint" binding="ns:TPLCashierMediaWebServiceSoap11Binding">
      <soap:address location="http://10.132.250.3:8080/axis2/services/TPLCashierMediaWebService.TPLCashierMediaWebServiceHttpSoap11Endpoint/" />
    </wsdl:port>
    <wsdl:port name="TPLCashierMediaWebServiceHttpSoap12Endpoint" binding="ns:TPLCashierMediaWebServiceSoap12Binding">
      <soap12:address location="http://10.132.250.3:8080/axis2/services/TPLCashierMediaWebService.TPLCashierMediaWebServiceHttpSoap12Endpoint/" />
    </wsdl:port>
    <wsdl:port name="TPLCashierMediaWebServiceHttpEndpoint" binding="ns:TPLCashierMediaWebServiceHttpBinding">
      <http:address location="http://10.132.250.3:8080/axis2/services/TPLCashierMediaWebService.TPLCashierMediaWebServiceHttpEndpoint/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>